.footer {
	position: absolute;
	bottom: 0;

	display: flex;
	width: 100%;
}
.footer-input {
	flex-grow: 1;
	background-color: rgba(43, 44, 48, 0.6);
	color: #fff;
	border: none;
	font-size: 1.8rem;
	padding: 1rem;
}
.footer-send-btn {
	font-size: 2.4rem;
	background-color: #218aff;
	color: #fff;
	padding: 2rem;
	border: none;
	/* border-radius: 50%; */
	cursor: pointer;
}
.footer-send-btn:hover {
	background-color: #1c73d6;
}
